
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}


header{
    display: flex;
    padding: 20px;
    justify-content: center;
}


header .header-menu {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}


header .header-menu a{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

header .header-menu a:hover{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(235, 69, 69);
    padding: 0 10px;
}


.title-header{
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
    
}

.title-header:hover{
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.img-container{
    width: 300px;
    height: 250px;
    margin: auto;
}

img{
    height: 100%;
    width: 100%;
}




.introduction{
    padding: 30px;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

.indicator{
    padding: 20px;
    font-family: sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    font-weight: bold;
}


.button-container{
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;

}

.button-container button{
    padding: 10px;
    color: black;
    border-radius: 20px;
    border: black;
    background: grey;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.button-container button:hover{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

#facts-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  padding: 40px;
}

#social_media{
    display: flex;
    padding-left: 35%;
    padding-right: 35%;
    justify-content: space-evenly;
    height: 150px; 
}



#social_media a {
    height: 100%;
    text-decoration: none;
    font-size: 6rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #8e8f91;
    transition: all .10s ease-in-out; 

}

#social_media a  i.fab.fa-linkedin:hover{
    font-size: 8rem;
    color: #0073b1;

}

#social_media a  i.fab.fa-github-square:hover{
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.89);

}

#social_media a  i.fab.fa-youtube-square:hover{
    font-size: 8rem;
    color: rgba(233, 17, 17, 0.685);
}


#blog_post{
    padding-top: 50px;
    font-family: sans-serif;
    display: inline-block;
    border-radius: 3px;
    font-size: 1.2rem;
    line-height: 1.7;
    text-decoration: none;
    margin-bottom: 1.8rem;
    display: block;
}

#blog_post .container{
    max-width: 1150px;
    margin: 0 auto;

}

#blog_post .top-of-post{
    text-align: center;
}


#blog_post .post{
    display: inline-block;
    border-radius: 3px;
    font-size: 1.2rem;
    line-height: 1.7;
    text-decoration: none;
    margin-bottom: 1.8rem;
    color: rgba(0, 0, 0, 0.87);
}



#blog_post .video-section{
    text-align: center;
}

#blog_post .video-section .video-container {

}

#blog_post .video-section .video-container iframe{
    width: 560px;
    height: 315px;
    border: 3px solid #52b8ff;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}

#blog_post .video-section .video-container iframe:hover{
     border: 4px solid rgba(233, 17, 17, 0.685);
}